
.spinner  {
    stroke-linecap: round;
}

.challenge-card {
    margin: 10px;
}

.caption {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    overflow: hidden;
  }
  
.caption .large {
    font-size: 1.7rem;
    font-weight: bold;
}
  
.caption .tiny {
    font-size: 0.75rem;
}

.container-full {
    display: flex;
    flex-direction: row;
}
  
.container-about {
    display: flex;
    flex-direction: column;
    width: 60%;
}
  
.container-progress {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto auto;
}

.spinner-text-box {
    display: flex;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;    
    justify-content: center;
    align-items: center;
}
