body {
  min-height: 100vh;
}

.top-nav {
  font-size: 1rem;

  svg {
    font-size: 1.25em;
  }

  a {
    margin: 0 1em;
    font-size: 0.8em;
  }
}

#top-nav__desktop {
  display: none;

  svg {
    margin-right: auto;
  }
}

#top-nav__mobile div {
  justify-content: space-between;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  border-top: solid 1px rgba(black, 0.2)
}

@media only screen and (min-width: 600px) {
  #top-nav__desktop {
    display: block;
  }
  #top-nav__mobile, #bottom-nav {
    display: none;
  }
}