.News{
    width: 90%;
    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.news-card {
    border: solid 2px black;
    padding: 18px;
    margin: 18px;
    border-radius: 25px;
    box-shadow: 0 0 12px 0 rgba(black, 0.4);

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        display: block;
        width: 100px;
        margin: 2em auto 1em;
        text-align: center;
        font-size: 14px;
        color: green;
        line-height: 1;
        position: relative;
        font-weight: 700;

        &::after {
            content: '\2192';
            opacity: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            transition: all 0.3s;
        }

        &:hover {
            &::after {
                transform: translate(5px, -50%);
                opacity: 1;
            }
        }
    }
}

.news-button {
    text-align: center;
}